<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Url Shortener</title>
</head>
<style>
    .max-w-sm{
        max-width: 625px;
    }
</style>
<body class="">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container">
        <a class="navbar-brand" href="#">Url Shortener</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTop"
                aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTop">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="container">
    <section class="mt-5 max-w-sm mx-auto">
        <form class="d-flex" method="post">
          <div class="flex-grow-1">
            <label for="url" class="visually-hidden">URL</label>
            <input name="url" type="url" class="form-control" id="url" placeholder="URL">
          </div>
          <div class="ms-3">
            <button type="submit" class="btn btn-primary mb-3">Shorten URL</button>
          </div>
        </form>
        {% if shortened %}
        <div class="card">
          <div class="card-header">
            Shortened URL
          </div>
          <div class="card-body">
              <h5 class="card-title">Your Shortened URL</h5>
              <div class="row">
                 <div class="col-10">
                    <label for="url" class="visually-hidden">URL</label>
                    <input class="form-control" id="shorturl" type="text" value="{{ shortened }}" aria-label="Shortened URL" readonly>
                  </div>

                  <div class="col-2">
                   <button type="button" id="copy" class="btn btn-outline-primary w-100" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Copied">
                      Copy
                   </button>
                  </div>
              </div>
          </div>
        </div>
    {% endif %}
    </section>

</main>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
    var copyBtn = document.getElementById("copy")
    copyBtn.onclick = function () {
        navigator.clipboard.writeText(document.getElementById("shorturl").value);
        copyBtn.classList.remove("btn-outline-primary")
        copyBtn.classList.add("btn-outline-success")
    }
</script>
</html>